{% load static %}
<!-- jquery -->
<script src="{% static 'plugins/jQurey/jquery.min.js' %}"></script>
<!-- Form Validation -->
<script src="{% static 'plugins/form-validation/jquery.form.js' %}"></script> 
<script src="{% static 'plugins/form-validation/jquery.validate.min.js' %}"></script>
<!-- slick slider -->
<script src="{% static 'plugins/slick/slick.min.js' %}"></script>
<!-- bootstrap js -->
<script src="{% static 'plugins/bootstrap/bootstrap.min.js' %}"></script>
<!-- wow js -->
<script src="{% static 'plugins/wow-js/wow.min.js' %}"></script>
<!-- slider js -->
<script src="{% static 'plugins/slider/slider.js' %}"></script>
<!-- Fancybox -->
<script src="{% static 'plugins/facncybox/jquery.fancybox.js' %}"></script>
<!-- template main js -->
<script src="{% static 'js/main.js' %}"></script>