{% extends 'base.html' %}

{% block content %}
    <!--=============================================
=            Blog With Right Sidebar            =
==============================================-->
<section id="blog-full-width">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {% if posts %}
                {% for post in posts %}
                <article class="wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">
                    <div class="blog-post-image">
                        <a href="post-fullwidth.html"><img class="img-fluid" src="{{ post.image.url }}" alt="" /></a>
                    </div>
                    <div class="blog-content">
                        <h2 class="blogpost-title">
                        <a href="post-fullwidth.html">{{ post.title }}</a>
                        </h2>
                        <div class="blog-meta">
                            <span>Dec 11, 2020</span>
                            <span>by <a href="">{{ post.author }}</a></span>
                            
                            {% for cat in post.categories.all %}
                            <span><a href="">{{ cat }}</a>,
                            {% endfor %}

                            

                        </div>
                        <p>{{ post.content }}.</p>
                        <a href="{{ post.get_absolute_url }}" class="btn btn-dafault btn-details hvr-bounce-to-right">Continue Reading</a>
                    </div>
                </article>
                {% endfor %}
                {% else  %}
                <h1>Sorry, no posts in this list</h1>
                {% endif %}
            </div>
            <!-- Sidebar -->
            <div class="col-md-4">
                <div class="sidebar">
                    <div class="search widget">
                        <form action="{% url 'search' %}" class="searchform" role="search">
                            <div class="input-group">
                                <input type="text" name='q' class="form-control" placeholder="Search for...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit"> <i class="ion-search"></i> </button>
                                </span>
                                </div><!-- /input-group -->
                            </form>
                        </div>
           
                        <div class="author widget">
                            <img class="img-fluid" src="pnj.jpj">
                            <div class="author-body text-center">
                                <div class="author-img">
                                    <img src="">
                                </div>
                                <div class="author-bio">
                                    <h3>{{ get_author_query }}</h3>
                                    <p>{{ posts.post.content }}</p>
                                </div>
                            </div>
                            
                        </div>


                        <div class="categories widget">
                            <h3 class="widget-head">Categories</h3>
                            <ul>
                                <!-- print(cat_queryset) -->
                                {% for cat in cat_queryset %}
                                <li>
                                    <a href="{{ cat.get_absolute_url }}">{{ cat.category__name | slice:":20" }}</a> <span class="badge">{{ cat.category__name__count }}</span>
                                </li>
                                {% endfor %}

                            </ul>
                        </div>
                        
                        <div class="recent-post widget">
                            <h3>Recent Posts</h3>
                            
                            <ul>
                                {% for post in posts %}
                                <li>
                                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a><br>
                                    <time>{{ post.create_on }}</time>
                                </li>
                                {% endfor %}
                            </ul>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
</section>    


{% endblock %}