{% extends 'base.html' %}

{% block content %}
    
    <!--
    ==================================================
    Slider Section Start
    ================================================== -->
    {% include 'includes/slider.html' %}
    <!--/#main-slider-->

    <!--
    ==================================================
    About Section Start
    ================================================== -->
    {% include 'includes/about.html' %}
    <!-- /#about -->


    <!--
    ==================================================
    Portfolio Section Start
    ================================================== -->
    {% include 'includes/portfolio.html' %}

{% endblock %}